---
---

@import "{{ site.theme }}";

article.post {
  padding: 10px 0 20px 0;

  h2 a {
    color: #b5e853;
    text-decoration: none;
  }
}


footer {
  padding: 10px 0px 20px 0px;
}

.post-metadata {
  display: inline-block;

  * {
    vertical-align: middle;
  }
}

img.avatar {
  border-radius: 50%;
}

img.post-author-avatar {
  width: 20px;
}

.site_title a {
  color: #b5e853;
  text-decoration: none;
}

/**
 * fix `./` overflow problem
 * max-width is 800px because margin is -40px and container is 90%
 * 40 * 2 / (100 - 90) * 100 = 800
 */
@media (max-width: 800px) {
  .site_title {
    margin: 0;
  }
}
