---
---

@import "{{ site.theme }}";

article.post {
  padding: 10px 0 20px 0;

  h2 a {
    color: #b5e853;
    text-decoration: none;
  }
}


footer {
  padding: 10px 0px 20px 0px;
}

.post-metadata {
  display: inline-block;

  * {
    vertical-align: middle;
  }
}

img.avatar {
  border-radius: 50%;
}

img.post-author-avatar {
  width: 20px;
}

.site_title a {
  color: #b5e853;
  text-decoration: none;
}