---
---

@import "{{ site.theme }}";

article.post {
  padding: 10px 0px 20px 0px;
}

footer {
  padding: 10px 0px 20px 0px;
}

.post-metadata {
  display: inline-block;

  * {
    vertical-align: middle;
  }
}

img.avatar {
  border-radius: 50%;
}

img.post-author-avatar {
  width: 20px;
}
