---
layout: default
---

<h1>{{ page.title }}</h1>

{% assign author = site.authors[page.author] %}

<p>
    {{ page.date | date: "%-d %B %Y" }} by
    <img width="18" src="{{ author.avatar | default: 'https://avatars1.githubusercontent.com/u/55027266' }}" />
    <a href="https://github.com/{{ author.github | default: 'ganhuaruanti' }}">{{ author.name | default: '某個幹話王' }}</a>
</p>

{{content}}

{% if page.tags.size > 0 %}
<small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
